/* Tags -- ++ -- */
    html {
    	position: relative;
    	min-height: 100vh;
    	max-width: 100vw;
    }

    body {
        margin: 200px 0% 100px 0vw;
        width: 100%;
    }

    footer {
        position: absolute;
        bottom: 0px;
        left: 0px;
        height: 125px;
        width: 100%;
    }

    div#footer_logos img {
        position: absolute;
        height: 50px;
        top: -55px;
        margin-left: 10%;
    }

    label {
        display: inline-block;
        margin-bottom: .5rem;
        opacity: 0.7;
    }

    ul {
        list-style: decimal;
        color: blue;
        font-weight: bold;
    }

    ul ul {
        list-style: upper-alpha;
        color: black;
    }

    ul ul ul {
        list-style: decimal;
        list-style: decimal;
        font-weight: 500;
    }

/* Tags -- */

/* IDs -- ++ --*/
    #informationContainer {
        margin-top: 200px;
        margin-bottom: 250px;
    }

    #secondFooterLogo {
    	left: 130px;
    }

    #clientAccountForm {

    }

    #goBackButton {
        font-size: 1rem;
        position: absolute;
        top: 125px;
        left: 80px;
    }

    #goToContentBtn {
        margin-left: calc(50vw - 50px);
        margin-top: 1vh;
        margin-bottom: 8vh;
    }
    /* Competition */
    #contentRow {

    }

    #contentCol {
        background-color: rgba(25, 156, 228, 0.13);
    }

    #lastParagraph {
        font-weight: bold;
    }

    #scoreRowBoldText {
        font-weight: bold;
    }

    #scoreRow {
        font-size: small;
        padding-top: 20px;
    }
/* IDs --*/

/* classes -- ++ --*/
    .headerYellowLine {
    	background-color: #EABF3F;
    	opacity: 1;
    	height: 5px;
    	width: 94%;
    	margin: 0px 3% 0px 3%;
    	opacity: 1;
    }

    .headerYellowLine.bottom {
        position: relative;
        top: -105%;
    }

    /*remember to make it smaller once user scrolls down*/
    .header {
        height: 148px;
        width: 100%;
        position: absolute;
        top: 0px;
    }

    .header-bg {
    	height: 100%;
    	width: 100%;
    	background-image: url(../img/blue-polygonal-background-with-triangles.jpg);
    	opacity: 0.5;
    }

    .header-store-icon {
        position: relative;
        top: -30%;
        height: 75%;
        margin-left: 80%;
    }

    .header-store-icon img {
        height: inherit;
        width: inherit;
    }

    .form-control.blue-form {
        border-top-color: #004085;
        border-top-width: 2px;
        font-size: 1rem;
        color: black;
        background-color: rgba(142, 227, 241, 0.36);
        font-weight: 900;
        border-radius: 0px;
    }

    .side-margins-5 {
    	margin-left: 5vw;
    	margin-right: 5vh;
    }

    .header span {
        color: #0078c0;
        font-size: 4rem;
        font-weight: 900;
        position: absolute;
        top: 35px;
        left: 75px;
    }

    .progress-bar-slice {
        padding-right: 1px;
        padding-left: 1px;
    }

    .score-indicator-number {
        top: 16px;
        position: relative;
        color: #0275d8;
        font-size: xx-large;
    /* This puts the number at the end of the progress bar, however the number won't be shown when outside of the progress bar*/
        /*position: relative;
        left: calc(50% - 10px);
        text-align: left;
        width: 16px;*/
    }
    
    .full-progress-bar .score-indicator-number {
        display: none;
    }

    .progress-bar {
        height: 50px;
    }
/* classes --*/

/* Rules -- ++ --*/
    @media only screen and (max-width: 750px) {
        .header span {
            font-size: 2rem;
            top: 50px;
            left: 10vw;
        }
    }

    @media (max-width: 414px) {
        #informationContainer {
            font-size: 2em;
        }
        #scoreRow {
            font-size: 1em;
        }
    }
/* Rules --*/