<!DOCTYPE html>
<html>
<head>
	<title>Análisis del establecimiento</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<meta charset="utf-8">
</head>

<body>
<!-- Header -- ++ -- -->
	<div class="header">
		<div class="header-bg"></div>
		<span>Análisis del establecimiento</span>
		<a href="../home.html">
			<span id="goBackButton">Volver al inicio</span>
		</a>
		<button onclick="scrollToTop()" class="btn btn-info" id="fixedGoBackButton">Volver al inicio</button>
		<div class="headerYellowLine"></div>
		<div class="header-store-icon">
			<img src="../img/store_icon.PNG">
		</div>
	</div>
<!-- Header -- -->
<!-- Analisis del establecimiento -- ++ -- -->
	<div id="informationContainer" class="container-fluid">
		<!-- First Analisis Section -- ++ -- -->
			<div id="firstAnalisisSection" style="display: unset;">
				<div id="contentRow" class="row">
					<dir class="col-sm-1"></dir>
					<div id="contentCol" class="col-sm-10">
						<p>
							Se entiende por factor exógeno o externo cualquier elemento con el cuál un cliente
							interactúa con dicho establecimiento desde el exterior (acera, fachada, accesibilidad al área
							de influencia, rótulo, escaparate, puerta de acceso, etc.) y que puede configurar un estado
							de ánimo que ejerce un poder de atracción que influye de forma positiva o negativa en la
							decisión del cliente de entrar en el establecimiento. Mientras que los factores endógenos o
							internos son aquellos cuya influencia es activa en el momento que el cliente decide acceder
							al interior del establecimiento (local, mobiliario, mostrador).
						</p>
						<p>
							Si segmentamos el itinerario para llegar al objetivo final, entendiendo como tal la adquisición
							de los productos, es evidente que el primer contacto con el establecimiento se realiza
							desde el exterior del mismo, convirtiéndose por tanto en factor determinante como foco de
							atracción; de ahí la importancia de los componentes exógenos comentados anteriormente.
						</p>
						<p>	
							También se deberán tener en consideración dichos componentes tanto de forma
							individualizada como en conjunto, adquiriendo la versión conjunta del mismo una
							importancia relevante, ya que configurará la imagen que el cliente percibirá y que relacionará
							con la identidad del negocio y en consecuencia de la propia empresa. A la vez, la empresa
							puede contribuir a modificar la percepción sobre el atractivo de su entorno. Es una relación
							simbiótica.
						</p>
						<p id="lastParagraph">
							1.500 CARACTERES CON ESPACIOS
						</p>
					</div>
					<div class="col-sm-1"></div>
				</div>

				<div class="row" style="opacity: 0">
					<div class="col-sm-1"></div>
					<div id="scoreRow" class="col-sm-10">
						<p>
							<span id="scoreRowBoldText">IS competencia PV</span><span>= IS primer competidor PV + IS segundo competidor PV</span>
						</p>
					</div>
					<div class="col-sm-1"></div>
				</div>
				<!-- Progress Bar -- ++ -- -->
					<div class="row">
						<div class="col-sm-1"></div>
						<div class="col-sm-10 progress-bar-slice">
							<div class="progress">
							<!-- Score Indicator Number -- ++ -- -->
								<div>
									<div id="analisis-del-establecimiento-score-indicator-number">
										3.3
									</div>
									<div id="analisisDelEstablecimientoScoreNumberLine"></div>
								</div>
							<!-- Score Indicator Number -- -->
						  		<div id="analisisDelEstablecimientoProgressBar1" class="progress-bar bg-warning" role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
						</div>
						<div class="progressbar-line line-1"></div>
						<div class="progressbar-line line-2"></div>
						<div class="progressbar-line line-3"></div>
						<div class="progressbar-line line-4"></div>
						<div class="col-sm-1"></div>
					</div>
				<!-- Progress Bar -- -->		
			</div>
		<!-- First Analisis Section -- -->
			<hr class="dividerHR">
		<!-- Title 1 -- ++ -- -->
			<div id="" class="row">
				<div class="col-sm-1"></div>
				<div id="exteriorEstablecimientoAceraFachadaAccesibilidadRotulosEscaparateYPuertaDeEntradaDiv" class="col-sm-10">
					<div id="exteriorEstablecimientoAceraFachadaAccesibilidadRotulosEscaparateYPuertaDeEntradaTitle" class="blue_background_title">
						Exterior establecimiento: acera, fachada, accesibilidad, rótulos, escaparate y puerta de entrada
					</div>
				</div>
				<div class="col-sm-1"></div>
			</div>
		<!-- Title 1 -->
		<!-- Content 2 -- ++ -- -->
			<div id="contentRow" class="row">
				<dir class="col-sm-1"></dir>
					<div id="" class="col-sm-10">
						<p>
							Entre los factores que intervienen en la mejora de la competitividad de un establecimiento
							tienen gran relevancia los referidos a los elementos exteriores del establecimiento.
							La razón principal estriba en el hecho de que la visión que un potencial cliente pueda
							obtener de dicho establecimiento configurará un estado de ánimo inmediato, bien por el
							aspecto externo que pueda presentar el local (acera, fachada, rótulos, puerta de entrada)
							como por el impacto que ejerza la presentación del negocio a través de sus escaparates. 
						</p>
						<p>
							Entre los elementos externos habrá que diferenciar aquellos de los cuáles se dispone de
							poder de actuación directa sobre ellos (rótulos, parte de fachada afecta al local, puerta
							de entrada, escaparate) y aquellos sobre cuya actuación solo podrán llevarse a cabo
							acciones de forma indirecta ya que dependen de terceros (acera, parte de fachada no
							afecta al local, calle).						</p>
						<p>	
							La imagen exterior de un establecimiento es cada vez más importante, ya que es la primera
							imagen que transmite la empresa y que ve el cliente. Por una parte, es importante porque
							permite a la empresa diferenciarse respecto a la competencia y ser lo suficientemente
							atractiva como para que el cliente entre en el establecimiento. Y, por otra parte, porque si
							la empresa consigue transmitir un mensaje exterior claro, puede segmentar a su público
							y enfocar sus esfuerzos a su público objetivo.
						</p>
						<p>	
							El objetivo de cualquier establecimiento es atraer a los posibles compradores hacia
							su interior. Por ello es necesario que la tienda en su conjunto muestre un aspecto
							atractivo, empezando por el exterior. La imagen exterior puede influir en la percepción
							del transeúnte interviniendo en sus emociones, siendo el escaparate el catálogo de
							productos de la tienda y uno de los elementos de atracción más importantes para el
							pequeño establecimiento.
						</p>
						<p id="lastParagraph">
							1.900 CARACTERES CON ESPACIOS
						</p>
						<p>
							De los elementos clave de la fachada son el rótulo y el escaparate los que muestran la
							personalidad y el estilo de la tienda: el escaparate es el arma fundamental de atracción
							de clientes y el rótulo es la “tarjeta de visita” del establecimiento.
						</p>
						<p>
							En este apartado se hace un análisis externo del punto de venta que incluye un diagnóstico
							de la acera, la fachada, la accesibilidad a la tienda, los rótulos, el escaparate y la puerta
							de entrada, con el objetivo de diagnosticar si estos elementos están en armonía con los
							productos que vende. 
						</p>
						<p>
							El escaparate es uno de los elementos más importantes del establecimiento, considerado
							un factor de atracción de primer orden. Se trata de un componente fundamental para la
							interacción entre el comercio y los clientes potenciales. Un escaparate bien diseñado es
							capaz de reflejar el estilo de la tienda, lo que es y lo que vende y presentarse de modo
							que el cliente se sienta invitado a entrar.
						</p>
						<p>
							Todo escaparate tiene una doble función: por un lado como tarjeta de presentación del
							comercio y por otro lado como muestrario de la diversidad de productos que se ofrecen
							con el fin de atraer al cliente hacia el interior del establecimiento. Debería ser novedoso
							para que se perciba una sensación de actualización permanente de productos, atractivo
							para generar una apetencia de visualización, representativo para que el posible cliente
							perciba la idea del contenido de la tienda, dinámico para aparentar cambios aunque se
							mantengan los productos expuestos, amplio evitando la aglomeración de productos,
							visible que se perciba el contenido fácilmente desde el exterior. Bien es cierto que la
							amplitud y la visibilidad vendrán muchas veces determinadas por las características
							físicas del propio escaparate.
						</p>
						<p>
							La conjunción de las observaciones del punto anterior definirá el concepto del término
							“efectividad del escaparate”. Resulta muy conveniente calcular la efectividad del mismo
							para poder valorar la atracción que ejerce y poder cuantificarlo como factor de decisión en
							la entrada del cliente; por tanto se entiende por efectividad la determinación del impacto
							que el escaparate puede tener en las personas próximas al establecimiento. Determinar
							cuántos pasan por delante del mismo, cuántos se convierten solo en observadores y
							cuántos en potenciales clientes (efecto entrada).
						</p>
						<p>
							También será adecuado establecer el calendario anual más idóneo para el cambio de
							escaparate teniendo en cuenta la estacionalidad, las fechas especiales relacionadas con
							eventos socio-culturales (navidad, reyes, pascua, etc.) y sobre todo el dinamismo/novedad
							del que se quiera adoptar el escaparate. En este último término, se puede considerar la
							conveniencia de su renovación cada 20 días, por término medio.
						</p>
					</div>
				<div class="col-sm-1"></div>
			</div>
		<!-- Content 2 -- -->
			<hr class="dividerHR">
		<!-- analisis del establecimiento progress bars -- ++ -- -->
			<div id="analisisDelEstablecimientoDescriptionRow" class="row">
				<!-- Description -- ++ -- -->
					<div class="col-sm-1"></div>
					<div class="competition-descripcion col-sm-10">
						<!-- Description Items -- ++ -- -->
							<!-- Description Item 1 -- ++ -- -->
								<div class="description-item row">
									<div class="description-item-title col-sm-12">
										Estado de la acera anexa
									</div>
								<!-- Description Item Progess Bar -- ++ -- -->
									<div class="description-item-progressbar-col col-sm-10">
										<div class="progress">
									  		<div class="progress-bar description-item-progressbar" id="analisis_del_establecimiento_description-item-progressbar-1" role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
										<div class="description-item-progressbar-white-lines-div">
											<div class="description-item-progressbar-line line-1"></div>
											<div class="description-item-progressbar-line line-2"></div>
											<div class="description-item-progressbar-line line-3"></div>
											<div class="description-item-progressbar-line line-4"></div>
										</div>
									</div>
									<div class="description-item-progress-bar-score-number-div  col-sm-2">
										<div class="description-item-progress-bar-score-number">
											3.37
										</div>
									</div>
								<!-- Description Item Progess Bar -- -->
								</div>
							<!-- Description Item 1 -- -->
							<!-- Description Item 2 -- ++ -- -->
								<div class="description-item row">
									<div class="description-item-title col-sm-12">
										Atractivo de la acera anexa 
									</div>
								<!-- Description Item Progess Bar -- ++ -- -->
									<div class="description-item-progressbar-col col-sm-10">
										<div class="progress">
									  		<div class="progress-bar description-item-progressbar" id="analisis_del_establecimiento_description-item-progressbar-2" role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
										<div class="description-item-progressbar-white-lines-div">
											<div class="description-item-progressbar-line line-1"></div>
											<div class="description-item-progressbar-line line-2"></div>
											<div class="description-item-progressbar-line line-3"></div>
											<div class="description-item-progressbar-line line-4"></div>
										</div>
									</div>
									<div class="description-item-progress-bar-score-number-div  col-sm-2">
										<div class="description-item-progress-bar-score-number">
											3.37
										</div>
									</div>
								<!-- Description Item Progess Bar -- -->
								</div>
							<!-- Description Item 2 -- -->
							<!-- Description Item 3 -- ++ -- -->
								<div class="description-item row">
									<div class="description-item-title col-sm-12">
										Estado de la fachada y coherencia con el entorno
									</div>
								<!-- Description Item Progess Bar -- ++ -- -->
									<div class="description-item-progressbar-col col-sm-10">
										<div class="progress">
									  		<div class="progress-bar description-item-progressbar" id="analisis_del_establecimiento_description-item-progressbar-3" role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
										<div class="description-item-progressbar-white-lines-div">
											<div class="description-item-progressbar-line line-1"></div>
											<div class="description-item-progressbar-line line-2"></div>
											<div class="description-item-progressbar-line line-3"></div>
											<div class="description-item-progressbar-line line-4"></div>
										</div>
									</div>
									<div class="description-item-progress-bar-score-number-div  col-sm-2">
										<div class="description-item-progress-bar-score-number">
											3.37
										</div>
									</div>
								<!-- Description Item Progess Bar -- -->
								</div>
							<!-- Description Item 3 -- -->
							<!-- Description Item 4 -- ++ -- -->
								<div class="description-item row">
									<div class="description-item-title col-sm-12">
										Coherencia de la fachada con su imagen comercial
									</div>
								<!-- Description Item Progess Bar -- ++ -- -->
									<div class="description-item-progressbar-col col-sm-10">
										<div class="progress">
									  		<div class="progress-bar description-item-progressbar" id="analisis_del_establecimiento_description-item-progressbar-4" role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
										<div class="description-item-progressbar-white-lines-div">
											<div class="description-item-progressbar-line line-1"></div>
											<div class="description-item-progressbar-line line-2"></div>
											<div class="description-item-progressbar-line line-3"></div>
											<div class="description-item-progressbar-line line-4"></div>
										</div>
									</div>
									<div class="description-item-progress-bar-score-number-div  col-sm-2">
										<div class="description-item-progress-bar-score-number">
											3.09
										</div>
									</div>
								<!-- Description Item Progess Bar -- -->
								</div>
							<!-- Description Item 4 -- -->
							<!-- Description Item 5 -- ++ -- -->
								<div class="description-item row">
									<div class="description-item-title col-sm-12">
										Visibilidad de la fachada
									</div>
								<!-- Description Item Progess Bar -- ++ -- -->
									<div class="description-item-progressbar-col col-sm-10">
										<div class="progress">
									  		<div class="progress-bar description-item-progressbar" id="analisis_del_establecimiento_description-item-progressbar-5" role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
										<div class="description-item-progressbar-white-lines-div">
											<div class="description-item-progressbar-line line-1"></div>
											<div class="description-item-progressbar-line line-2"></div>
											<div class="description-item-progressbar-line line-3"></div>
											<div class="description-item-progressbar-line line-4"></div>
										</div>
									</div>
									<div class="description-item-progress-bar-score-number-div  col-sm-2">
										<div class="description-item-progress-bar-score-number">
											3.3
										</div>
									</div>
								<!-- Description Item Progess Bar -- -->
								</div>
							<!-- Description Item 5 -- -->
							<!-- Description Item 6 -- ++ -- -->
								<div class="description-item row">
									<div class="description-item-title col-sm-12">
										Accesibilidad al comercio
									</div>
								<!-- Description Item Progess Bar -- ++ -- -->
									<div class="description-item-progressbar-col col-sm-10">
										<div class="progress">
									  		<div class="progress-bar description-item-progressbar" id="analisis_del_establecimiento_description-item-progressbar-6" role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
										<div class="description-item-progressbar-white-lines-div">
											<div class="description-item-progressbar-line line-1"></div>
											<div class="description-item-progressbar-line line-2"></div>
											<div class="description-item-progressbar-line line-3"></div>
											<div class="description-item-progressbar-line line-4"></div>
										</div>
									</div>
									<div class="description-item-progress-bar-score-number-div  col-sm-2">
										<div class="description-item-progress-bar-score-number">
											3.09
										</div>
									</div>
								<!-- Description Item Progess Bar -- -->
								</div>
							<!-- Description Item 6 -- -->
							<!-- Description Item 7 -- ++ -- -->
								<div class="description-item row">
									<div class="description-item-title col-sm-12">
										Estado de los rótulos
									</div>
								<!-- Description Item Progess Bar -- ++ -- -->
									<div class="description-item-progressbar-col col-sm-10">
										<div class="progress">
									  		<div class="progress-bar description-item-progressbar" id="analisis_del_establecimiento_description-item-progressbar-7" role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
										<div class="description-item-progressbar-white-lines-div">
											<div class="description-item-progressbar-line line-1"></div>
											<div class="description-item-progressbar-line line-2"></div>
											<div class="description-item-progressbar-line line-3"></div>
											<div class="description-item-progressbar-line line-4"></div>
										</div>
									</div>
									<div class="description-item-progress-bar-score-number-div  col-sm-2">
										<div class="description-item-progress-bar-score-number">
											3.37
										</div>
									</div>
								<!-- Description Item Progess Bar -- -->
								</div>
							<!-- Description Item 7 -- -->
							<!-- Description Item 8 -- ++ -- -->
								<div class="description-item row">
									<div class="description-item-title col-sm-12">
										Imagen de los rótulos
									</div>
								<!-- Description Item Progess Bar -- ++ -- -->
									<div class="description-item-progressbar-col col-sm-10">
										<div class="progress">
									  		<div class="progress-bar description-item-progressbar" id="analisis_del_establecimiento_description-item-progressbar-8" role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
										<div class="description-item-progressbar-white-lines-div">
											<div class="description-item-progressbar-line line-1"></div>
											<div class="description-item-progressbar-line line-2"></div>
											<div class="description-item-progressbar-line line-3"></div>
											<div class="description-item-progressbar-line line-4"></div>
										</div>
									</div>
									<div class="description-item-progress-bar-score-number-div  col-sm-2">
										<div class="description-item-progress-bar-score-number">
											3.3
										</div>
									</div>
								<!-- Description Item Progess Bar -- -->
								</div>
							<!-- Description Item 8 -- -->
							<!-- Description Item 9 -- ++ -- -->
								<div class="description-item row">
									<div class="description-item-title col-sm-12">
										Visibilidad de los rótulos
									</div>
								<!-- Description Item Progess Bar -- ++ -- -->
									<div class="description-item-progressbar-col col-sm-10">
										<div class="progress">
									  		<div class="progress-bar description-item-progressbar" id="analisis_del_establecimiento_description-item-progressbar-9" role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
										<div class="description-item-progressbar-white-lines-div">
											<div class="description-item-progressbar-line line-1"></div>
											<div class="description-item-progressbar-line line-2"></div>
											<div class="description-item-progressbar-line line-3"></div>
											<div class="description-item-progressbar-line line-4"></div>
										</div>
									</div>
									<div class="description-item-progress-bar-score-number-div  col-sm-2">
										<div class="description-item-progress-bar-score-number">
											3.3
										</div>
									</div>
								<!-- Description Item Progess Bar -- -->
								</div>
							<!-- Description Item 9 -- -->
							<!-- Description Item 10 -- ++ -- -->
								<div class="description-item row">
									<div class="description-item-title col-sm-12">
										Coherencia de los rótulos
									</div>
								<!-- Description Item Progess Bar -- ++ -- -->
									<div class="description-item-progressbar-col col-sm-10">
										<div class="progress">
									  		<div class="progress-bar description-item-progressbar" id="analisis_del_establecimiento_description-item-progressbar-10" role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
										<div class="description-item-progressbar-white-lines-div">
											<div class="description-item-progressbar-line line-1"></div>
											<div class="description-item-progressbar-line line-2"></div>
											<div class="description-item-progressbar-line line-3"></div>
											<div class="description-item-progressbar-line line-4"></div>
										</div>
									</div>
									<div class="description-item-progress-bar-score-number-div  col-sm-2">
										<div class="description-item-progress-bar-score-number">
											3.3
										</div>
									</div>
								<!-- Description Item Progess Bar -- -->
								</div>
							<!-- Description Item 10 -- -->
							<!-- Description Item 11 -- ++ -- -->
								<div class="description-item row">
									<div class="description-item-title col-sm-12">
										Escaparate
									</div>
								<!-- Description Item Progess Bar -- ++ -- -->
									<div class="description-item-progressbar-col col-sm-10">
										<div class="progress">
									  		<div class="progress-bar description-item-progressbar" id="analisis_del_establecimiento_description-item-progressbar-11" role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
										<div class="description-item-progressbar-white-lines-div">
											<div class="description-item-progressbar-line line-1"></div>
											<div class="description-item-progressbar-line line-2"></div>
											<div class="description-item-progressbar-line line-3"></div>
											<div class="description-item-progressbar-line line-4"></div>
										</div>
									</div>
									<div class="description-item-progress-bar-score-number-div  col-sm-2">
										<div class="description-item-progress-bar-score-number">
											3.3
										</div>
									</div>
								<!-- Description Item Progess Bar -- -->
								</div>
							<!-- Description Item 11 -- -->
							<!-- Description Item 12 -- ++ -- -->
								<div class="description-item row">
									<div class="description-item-title col-sm-12">
										Atractivo del escaparate
									</div>
								<!-- Description Item Progess Bar -- ++ -- -->
									<div class="description-item-progressbar-col col-sm-10">
										<div class="progress">
									  		<div class="progress-bar description-item-progressbar" id="analisis_del_establecimiento_description-item-progressbar-12" role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
										<div class="description-item-progressbar-white-lines-div">
											<div class="description-item-progressbar-line line-1"></div>
											<div class="description-item-progressbar-line line-2"></div>
											<div class="description-item-progressbar-line line-3"></div>
											<div class="description-item-progressbar-line line-4"></div>
										</div>
									</div>
									<div class="description-item-progress-bar-score-number-div  col-sm-2">
										<div class="description-item-progress-bar-score-number">
											3.3
										</div>
									</div>
								<!-- Description Item Progess Bar -- -->
								</div>
							<!-- Description Item 12 -- -->
							<!-- Description Item 13 -- ++ -- -->
								<div class="description-item row">
									<div class="description-item-title col-sm-12">
										Catálogo de productos 
									</div>
								<!-- Description Item Progess Bar -- ++ -- -->
									<div class="description-item-progressbar-col col-sm-10">
										<div class="progress">
									  		<div class="progress-bar description-item-progressbar" id="analisis_del_establecimiento_description-item-progressbar-13" role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
										<div class="description-item-progressbar-white-lines-div">
											<div class="description-item-progressbar-line line-1"></div>
											<div class="description-item-progressbar-line line-2"></div>
											<div class="description-item-progressbar-line line-3"></div>
											<div class="description-item-progressbar-line line-4"></div>
										</div>
									</div>
									<div class="description-item-progress-bar-score-number-div  col-sm-2">
										<div class="description-item-progress-bar-score-number">
											3.3
										</div>
									</div>
								<!-- Description Item Progess Bar -- -->
								</div>
							<!-- Description Item 13 -- -->
							<!-- Description Item 14 -- ++ -- -->
								<div class="description-item row">
									<div class="description-item-title col-sm-12">
										Visibilidad
									</div>
								<!-- Description Item Progess Bar -- ++ -- -->
									<div class="description-item-progressbar-col col-sm-10">
										<div class="progress">
									  		<div class="progress-bar description-item-progressbar" id="analisis_del_establecimiento_description-item-progressbar-14" role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
										<div class="description-item-progressbar-white-lines-div">
											<div class="description-item-progressbar-line line-1"></div>
											<div class="description-item-progressbar-line line-2"></div>
											<div class="description-item-progressbar-line line-3"></div>
											<div class="description-item-progressbar-line line-4"></div>
										</div>
									</div>
									<div class="description-item-progress-bar-score-number-div  col-sm-2">
										<div class="description-item-progress-bar-score-number">
											3.3
										</div>
									</div>
								<!-- Description Item Progess Bar -- -->
								</div>
							<!-- Description Item 14 -- -->
							<!-- Description Item 15 -- ++ -- -->
								<div class="description-item row">
									<div class="description-item-title col-sm-12">
										Diseño
									</div>
								<!-- Description Item Progess Bar -- ++ -- -->
									<div class="description-item-progressbar-col col-sm-10">
										<div class="progress">
									  		<div class="progress-bar description-item-progressbar" id="analisis_del_establecimiento_description-item-progressbar-15" role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
										<div class="description-item-progressbar-white-lines-div">
											<div class="description-item-progressbar-line line-1"></div>
											<div class="description-item-progressbar-line line-2"></div>
											<div class="description-item-progressbar-line line-3"></div>
											<div class="description-item-progressbar-line line-4"></div>
										</div>
									</div>
									<div class="description-item-progress-bar-score-number-div  col-sm-2">
										<div class="description-item-progress-bar-score-number">
											3.3
										</div>
									</div>
								<!-- Description Item Progess Bar -- -->
								</div>
							<!-- Description Item 15 -- -->
							<!-- Description Item 16 -- ++ -- -->
								<div class="description-item row">
									<div class="description-item-title col-sm-12">
										El escaparate como transmisor de la información
									</div>
								<!-- Description Item Progess Bar -- ++ -- -->
									<div class="description-item-progressbar-col col-sm-10">
										<div class="progress">
									  		<div class="progress-bar description-item-progressbar" id="analisis_del_establecimiento_description-item-progressbar-16" role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
										<div class="description-item-progressbar-white-lines-div">
											<div class="description-item-progressbar-line line-1"></div>
											<div class="description-item-progressbar-line line-2"></div>
											<div class="description-item-progressbar-line line-3"></div>
											<div class="description-item-progressbar-line line-4"></div>
										</div>
									</div>
									<div class="description-item-progress-bar-score-number-div  col-sm-2">
										<div class="description-item-progress-bar-score-number">
											3.3
										</div>
									</div>
								<!-- Description Item Progess Bar -- -->
								</div>
							<!-- Description Item 16 -- -->
							<!-- Description Item 17 -- ++ -- -->
								<div class="description-item row">
									<div class="description-item-title col-sm-12">
										Renovación del escaparate
									</div>
								<!-- Description Item Progess Bar -- ++ -- -->
									<div class="description-item-progressbar-col col-sm-10">
										<div class="progress">
									  		<div class="progress-bar description-item-progressbar" id="analisis_del_establecimiento_description-item-progressbar-17" role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
										<div class="description-item-progressbar-white-lines-div">
											<div class="description-item-progressbar-line line-1"></div>
											<div class="description-item-progressbar-line line-2"></div>
											<div class="description-item-progressbar-line line-3"></div>
											<div class="description-item-progressbar-line line-4"></div>
										</div>
									</div>
									<div class="description-item-progress-bar-score-number-div  col-sm-2">
										<div class="description-item-progress-bar-score-number">
											3.3
										</div>
									</div>
								<!-- Description Item Progess Bar -- -->
								</div>
							<!-- Description Item 17 -- -->
							<!-- Description Item 18 -- ++ -- -->
								<div class="description-item row">
									<div class="description-item-title col-sm-12">
										Impacto del escaparate
									</div>
								<!-- Description Item Progess Bar -- ++ -- -->
									<div class="description-item-progressbar-col col-sm-10">
										<div class="progress">
									  		<div class="progress-bar description-item-progressbar" id="analisis_del_establecimiento_description-item-progressbar-18" role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
										<div class="description-item-progressbar-white-lines-div">
											<div class="description-item-progressbar-line line-1"></div>
											<div class="description-item-progressbar-line line-2"></div>
											<div class="description-item-progressbar-line line-3"></div>
											<div class="description-item-progressbar-line line-4"></div>
										</div>
									</div>
									<div class="description-item-progress-bar-score-number-div  col-sm-2">
										<div class="description-item-progress-bar-score-number">
											3.3
										</div>
									</div>
								<!-- Description Item Progess Bar -- -->
								</div>
							<!-- Description Item 18 -- -->
						<!-- Description Items -- -->
					</div>
					<div class="col-sm-1"></div>
				<!-- Description -- -->
				<!-- Indicador Sintetico principal competidor -- ++ -- -->
					<div class="col-sm-1"></div>
					<!-- Seccion A -- ++ -- -->
						<div id="analisisDelEstablecimientoIndicadorSintetico" class="col-sm-10" style="display: unset;">
							<div id="sectionATitle" class="section">
								<div id="sectionATitleAIcon">
									<img id="sectionATitleAIconImg" src="../img/a_circle_icon.png">
								</div>
								<div id="sectionATitleTitle">
									<span id="sectionATitleTitleText" class="sectionTitleText">Indicador Sintético principal competidor</span>
								</div>
							</div>
							<!-- Sector A Progress Bar -- ++ -- -->
								<div id="sectorAProgressBar" class="row">
									<div class="col-sm-1"></div>
									<div class="col-sm-10 progress-bar-slice">
										<div class="progress">
										<!-- Score Indicator Number -- ++ -- -->
											<div>
												<div id="analisisDelEstabecimientoSectionAScoreIndicatorNumber">
													3.3
												</div>
												<div id="analisisDelEstablecimeintoSectionAScoreNumberLine"></div>
											</div>
										<!-- Score Indicator Number -- -->
									  		<div id="analisisDelEstablecimientoSectionAProgressBar1" class="progress-bar" role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
									<div class="progressbar-line line-1"></div>
									<div class="progressbar-line line-2"></div>
									<div class="progressbar-line line-3"></div>
									<div class="progressbar-line line-4"></div>
									<div class="col-sm-1"></div>
								</div>
							<!-- Sector A Progress Bar -- -->
						</div>
					<!-- Seccion A -- -->
					<div class="col-sm-1"></div>
				<!-- Indicador Sintetico principal competidor -- -->
			</div>
		<!-- analisis del establecimiento progress bars -- -->
	</div>
<!-- Analisis del establecimiento -- -->

<!-- footer -- ++ -- -->
	<footer>
		<div class="header-bg" id="footer-bg"></div>
			<div id="footer_logos">
				<img id="firstFooterLogo" src="../img/mejora_pv.png">
				<img id="secondFooterLogo" src="../img/cambra_de_comerc_logo.png">
			</div>
		<div class="headerYellowLine bottom"></div>
	</footer>
<!-- footer -- -->

<!-- scripts -- ++ -- -->
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	<script src="../js/main.js" type="text/javascript"></script>
<!-- scripts ---->

</body>

</html>