<!DOCTYPE html>
<html>
<head>
	<title>Cuenta Punto de Venta</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<meta charset="utf-8">
</head>

<body>
<!-- Header -- ++ -- -->
	<div class="header">
		<div class="header-bg"></div>
		<span>Cuenta Punto de Venta</span>
		<a href="../home.html">
			<span id="goBackButton">Volver al inicio</span>
		</a>
		<button onclick="scrollToTop()" class="btn btn-info" id="fixedGoBackButton" style="display: none;">Volver al inicio</button>
		<div class="headerYellowLine"></div>
		<div class="header-store-icon">
			<img src="../img/pv_icon.PNG">
		</div>
	</div>
<!-- Header -- -->

<!-- Form -- ++ -- -->
	<div id="informationContainer" class="container-fluid">
	<!-- Nombre Comercial -- ++ -- -->
		<form id="salesOutletAccountForm" class="row side-margins-5">
		  <div id="nombreComercialDiv" class="form-group col-sm-12">
		    <label for="nombreComercial">Nombre Comercial</label>
		    <input name="nombre_comercial" type="text" class="form-control blue-form" id="nombreComercial" placeholder="nombre comercial ...">
		  </div>
		</form>
	<!-- Nombre Comercial -- -->
	<!-- Row 2 -- ++ -- -->
		<form id="salesOutletAccountForm1" class="row side-margins-5">
		<!-- Domicilio -- ++ -- -->
		 	<div id="domicilioDiv" class="form-group col-sm-5">
		    	<label for="domicilio">Domicilio</label>
		    	<input name="domicilio" type="text" class="form-control blue-form" id="domicilio" placeholder="domicilio ...">
			</div>
		<!-- Domicilio -- -->
		<!-- Poblacion -- ++ -- -->
			<div id="PoblacionDiv" class="form-group col-sm-5">
				<label for="poblacion">Poblacion</label>
				<input name="poblacion" class="form-control blue-form" id="poblacion" placeholder="poblacion ...">
			</div>
		<!-- Poblacion -- -->
		<!-- CP -- ++ -- -->
			<div id="PoblacionDiv" class="form-group col-sm-2">
				<label for="domicilio">CP</label>
				<input name="cp" type="text" class="form-control blue-form" id="domicilio" placeholder="CP ...">
			</div>
		<!-- CP -- -->
		</form>
	<!-- Row 2 -- -->
	<!-- Row 3 -- ++ -- -->
		<form id="salesOutletAccountForm2" class="row side-margins-5">
		<!-- Email -- ++ -- -->
		  <div id="emailDiv" class="form-group col-sm-6">
		    <label for="email">Email</label>
		    <input name="email" type="email" class="form-control blue-form" id="email" placeholder="email ...">
		  </div>
		<!-- Email -- -->
		<!-- Web -- ++ -- -->
			<div id="webDiv" class="form-group col-sm-6">
				<label for="web">Web</label>
				<input name="web" type="url" class="form-control blue-form" id="web" placeholder="web ...">
			</div>
		<!-- Web -- -->
		</form>
	<!-- Row 3 -- -->	
	<!-- Row 4 -- ++ -- -->
		<form id="salesOutletAccountForm3" class="row side-margins-5">
		<!-- Telefono -- ++ -- -->
		  <div id="telefonoDiv" class="form-group col-sm-6">
		    <label for="telefono">Telefono</label>
		    <input name="telefono" type="tel" class="form-control blue-form" id="telefono" placeholder="telefono ...">
		  </div>
		<!-- Telefono -- -->
		<!-- Nombre y Cargo del Entrevistado -- ++ -- -->
			<div id="nombreYCargoDelEntrevistadoDiv" class="form-group col-sm-6">
				<label for="nombreYCargoDelEntrevistado">Nombre y Cargo del Entrevistado</label>
				<input name="nombre_y_cargo_del_entrevistado" type="text" class="form-control blue-form" id="nombreYCargoDelEntrevistado" placeholder="nombre y cargo del entrevistado ...">
			</div>
		<!-- Nombre y Cargo del Entrevistado -- -->
		</form>
	<!-- Row 4 -- -->
	<!-- Row 5 -- ++ -- -->
		<form id="salesOutletAccountForm4" class="row side-margins-5">
		<!-- Sector Actividad -- ++ -- -->
		 	<div id="sectorActividadDiv" class="form-group col-sm-3">
		    	<label for="sectorActividad">Sector Actividad</label>
		    	<input name="sector_actividad" type="text" class="form-control blue-form" id="sectorActividad" placeholder="sector actividad ...">
			</div>
		<!-- sectorActividad -- -->
		<!-- Año de Inicio de Actividad -- ++ -- -->
			<div id="añoInicioActividadDiv" class="form-group col-sm-3">
				<label for="añoInicioActividad">Año de Inicio de Actividad</label>
				<input name="anno_de_inicio_de_actividad" type="number" class="form-control blue-form" id="añoInicioActividad" placeholder="año de inicio de actividad ...">
			</div>
		<!-- Año de Inicio de Actividad -- -->
		<!-- Numero de Empleados -- ++ -- -->
			<div id="numeroDeEmpleadosDiv" class="form-group col-sm-3">
				<label for="numeroDeEmpleados">Numero de Empleados</label>
				<input name="numero_de_empleados" type="number" class="form-control blue-form" id="numeroDeEmpleados" placeholder="numero de empleados ...">
			</div>
		<!-- Numero de Empleados -- -->
		<!-- ingreso Anual -- ++ -- -->
			<div id="ingresoAnualDiv" class="form-group col-sm-3">
				<label for="ingresoAnual">Ingreso Anual</label>
				<input name="ingreso_annual" type="number" class="form-control blue-form" id="ingresoAnual" placeholder="ingreso anual ...">
			</div>
		<!-- ingreso Anual -- -->
		</form>
	<!-- Row 5 -- -->
	<!-- Row 6 -- ++ -- -->
		<form id="salesOutletAccountForm5" class="row side-margins-5">
		<!-- Margen producción o EBITDA (Ventas-Costes totales/Ventas) -- ++ -- -->
		 	<div id="margenProduccionOEBITDADiv" class="form-group col-sm-6">
		    	<label for="margenProduccionOEBITDA">Margen producción o EBITDA (Ventas-Costes totales/Ventas)</label>
		    	<input name="margen_produccion_o_ebitda" type="number" class="form-control blue-form" id="margenProduccionOEBITDA" placeholder="Margen producción o EBITDA (Ventas-Costes totales/Ventas) ...">
			</div>
		<!-- Margen producción o EBITDA (Ventas-Costes totales/Ventas) -- -->
		<!-- Ratio Rentabilidad neta (BDIT/Ventas) -- ++ -- -->
			<div id="ratioRentabilidadNetaDiv" class="form-group col-sm-6">
				<label for="ratioRentabilidadNeta">Ratio Rentabilidad Neta</label>
				<input name="ratio_rentabilidad_neta" type="number" class="form-control blue-form" id="ratioRentabilidadNeta" placeholder="ratio rentabilidad neta ...">
			</div>
		<!-- Ratio Rentabilidad neta (BDIT/Ventas) -- -->
		</form>
	<!-- Row 6 -- -->
	<!-- Row 7 -- ++ -- -->
		<form id="salesOutletAccountForm6" class="row side-margins-5">
		<!-- nombreMejorador -- ++ -- -->
		 	<div id="nombreMejoradorDiv" class="form-group col-sm-12">
		    	<label for="nombreMejorador">Nombre de Mejorador</label>
		    	<input name="nombre_mejorador" type="text" class="form-control blue-form" id="nombreMejorador" placeholder="nombre de mejorador ...">
			</div>
		<!-- nombreMejorador -- -->
		</form>
	<!-- Row 7 -- -->
	<!-- Row 8 -- ++ -- -->
		<form id="salesOutletAccountForm7" class="row side-margins-5">
		<!-- Fecha de Inicio -- ++ -- -->
		 	<div id="fechaDeInicioDiv" class="form-group col-sm-6">
		    	<label for="fechaDeInicio">Fecha de Inicio</label>
		    	<input name="fecha_de_inicio" type="date" class="form-control blue-form" id="fechaDeInicio" placeholder="Fecha de Inicio ...">
			</div>
		<!-- Fecha de Inicio -- -->
		<!-- Fecha de Finalizacion -- ++ -- -->
			<div id="fechaDeFinalizacionDiv" class="form-group col-sm-6">
				<label for="fechaDeFinalizacion">Fecha de Finalizacion</label>
				<input name="fecha_de_finalizacion" type="date" class="form-control blue-form" id="fechaDeFinalizacion" placeholder="Fecha de Finalizacion ...">
			</div>
		<!-- Fecha de Finalizacion -- -->
		</form>
	<!-- Row 8 -- -->
	<!-- Go to content button -- ++ -- -->
		<form action="content_table.html" class="goToContentBtn">
			<button id="goToContentBtn" type="submit" class="btn btn-success" >
				Ir a la tabla de contenido
			</button>
		</form>
	<!-- Go to content button -- -->
	</div>
<!-- Form -- -->

<!-- footer -- ++ -- -->
	<footer>
		<div class="header-bg" id="footer-bg"></div>
			<div id="footer_logos">
				<img id="firstFooterLogo" src="../img/mejora_pv.png">
				<img id="secondFooterLogo" src="../img/cambra_de_comerc_logo.png">
			</div>
		<div class="headerYellowLine bottom"></div>
	</footer>
<!-- footer -- -->

<!-- scripts -- ++ -- -->
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	<script src="../js/main.js" type="text/javascript"></script>
<!-- scripts ---->

</body>

</html>