<!DOCTYPE html>
<html>
<head>
	<title>Análisis del establecimiento</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<meta charset="utf-8">
</head>

<body>
<!-- Header -- ++ -- -->
	<div class="header">
		<div class="header-bg"></div>
		<span>Análisis del establecimiento</span>
		<a href="../home.html">
			<span id="goBackButton">Volver al inicio</span>
		</a>
		<button onclick="scrollToTop()" class="btn btn-info" id="fixedGoBackButton" style="display: none;">Volver al inicio</button>
		<div class="headerYellowLine"></div>
		<div class="header-store-icon">
			<img src="../img/store_icon.PNG">
		</div>
	</div>
<!-- Header -- -->

<!-- Form -- ++ -- -->
	<div id="informationContainer" class="container-fluid">

	</div>
<!-- Form -- -->

<!-- footer -- ++ -- -->
	<footer>
		<div class="header-bg" id="footer-bg"></div>
			<div id="footer_logos">
				<img id="firstFooterLogo" src="../img/mejora_pv.png">
				<img id="secondFooterLogo" src="../img/cambra_de_comerc_logo.png">
			</div>
		<div class="headerYellowLine bottom"></div>
	</footer>
<!-- footer -- -->

<!-- scripts -- ++ -- -->
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	<script src="../js/main.js" type="text/javascript"></script>
<!-- scripts ---->

</body>

</html>